body{
  background-color: #ededc1;
  background-size: 70px 70px;
  background-repeat: repeat-y;
  background-position: right top;
  padding: 15px 95px 15px 15px;
}

#cimkep{
  float:left;  
}

h1{
  margin: 40px 0px 100px 175px;
}

p{
  text-align: justify;
}


.jobbra{
  text-align: right;
}

.erdekesseg{
  font-size: 70%;
  padding: 7px;
  font-weight: normal;
}

li{
  font-weight:bold;
}

/* 4. Weboldal háttérképe */
body {
  background-image: url('hatterkocka.png');
  background-size: cover;
  font-family: Arial, sans-serif;
  color: #443502; /* 7. Szöveg színe */
}

/* 6. Cím és alcímek formázása */
h1 {
  display: flex;
  align-items: center;
  height: 150px; /* 11. Címsor magasság */
}

#cimkep img {
  margin-right: 20px;
  height: 100%; /* Cím mellé illesztett kép */
}

h2 {
  font-size: 1.8em;
}

/* 9. Bekezdések margója */
p {
  margin: 5px;
}

/* 10. Címsor képének megjelenítése és visszaállítása */
#cimkep img:hover {
  content: none;
}

#cimkep img:active {
  content: none;
}

/* 12. Jobbra igazított bekezdések */
.jobbra {
  text-align: right;
}

/* 13. Felső index formázás */
sup {
  font-size: 0.8em;
}

/* 14. Érdekesség osztály formázása */
.erdekesseg {
  font-style: italic;
  background-color: white;
  padding: 5px;
}

/* 16. Számozatlan lista jele */
ul {
  list-style-type: square; /* 16. Lista jele négyzet */
}

/* 17. Lista elemek formázása */
ul li p strong {
  font-weight: bold;
}

ul li p.erdekesseg {
  font-style: italic;
  background-color: white;
  padding: 5px;
}

